.grid {
  width: 220px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
}

.grid div {
  width: 20px;
  border: 1px solid;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: turquoise;
}
